ng-template(dialog-anchor)

.project-list
  a((click)='create()')
   | Create  
  table
    thead
      th 
        | Code
      th
        | Title
      td
        | Created
      td
        | Actions

    tbody(*ngIf="projects")
      tr(*ngFor="let p of projects")
        td
          | {{p.code}}
        td
          | {{p.title}}
        td
          | {{p.created}}
        
        td
          a.btn((click)="edit(p)")
            | Edit
          a.btn((click)="updateInfo(p)")
            | Update Info
          a.btn((click)="delete(p)")
            | Delete

