.login-form
  h1
    | Login
  .form-group
    .input-row
      input(placeholder="Email", [(ngModel)]='user.email')
    .input-row
      input(type="password", placeholder="Password", [(ngModel)]='user.password')
    .input-row
      button((click)="login()")
        | Login

